@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #ec448a;
}

.app {
  padding-bottom: 100px;
}

h1 {
  color: #fff;
  font-weight: 900;
}

nav {
  height: 50px;
  margin: 2% 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

svg {
  color: #fff;
}

.nav-svgs svg {
  cursor: pointer;
  margin: 0 5px;
}

.nav-svgs {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-loading {
  text-align: center;
  margin-top: 30vh;
}

.home-loading span {
  font-size: 32px;
  letter-spacing: 7px;
  color: #fff;
}

.stock-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.stock {
  padding: 10px 50px;
  margin: 12px 0;
  color: #fff;
  display: flex;
}

.stock svg {
  margin-left: 25px;
  cursor: pointer;
}

.stock a {
  text-decoration: none;
  color: #fff;
}

.stock-details-container h3 {
  color: #fff;
}

.stock-details-container .back {
  display: flex;
}

.stock-details-container .details {
  margin: auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: start;
  max-width: 1100px;
  row-gap: 50px;
}

.stock-details-container .details span {
  color: #fff;
}

/* Medium screen size */
@media (max-width: 768px) {
  .stock-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .stock-details-container .details {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 10px;
  }
}

/* Small screen size */
@media (max-width: 500px) {
  .stock-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

#footer {
  text-align: center;
  position: fixed;
  bottom: 30px;
  left: 0;
  right: 0;
}

#footer a {
  color: #fff;
  font-size: 22px;
}
