@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

nav {
  height: 65px;
  padding: 2% 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(236, 68, 138, 0.9);
  color: #fff;
}

svg {
  color: #fff;
}

.left {
  display: flex;
  align-items: center;
}

.left svg {
  position: relative;
  top: 5px;
}

.nav-svgs svg {
  cursor: pointer;
  margin: 0 5px;
}

.nav-svgs {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .year {
  position: relative;
  right: 5px;
}

/* header */
.header {
  background-color: #ec448a;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #fff;
}

.header .header-img {
  display: grid;
  justify-content: end;
}

.header .header-info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.header img {
  width: 100%;
}

.home-loading {
  text-align: center;
  height: calc(100vh - 65px);
  padding-top: 30vh;
  background-color: #ec448a;
}

.home-loading span {
  font-size: 32px;
  letter-spacing: 7px;
  color: #fff;
}

.stock-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow-x: hidden;
  background-color: rgba(236, 68, 138, 0.9);
  min-height: 50vh;
}

.stock-container div {
  background-color: rgba(236, 68, 138, 1);
}

.stock {
  padding: 10px 50px;
  color: #fff;
  position: relative;
  height: 120px;
  border: solid 2px rgba(255, 255, 255, 0.1);
}

.stock a {
  position: absolute;
  top: 5px;
  right: 5px;
  text-decoration: none;
  color: #fff;
}

.stock h3 {
  position: absolute;
  bottom: 40px;
  right: 5px;
}

.stock .change {
  position: absolute;
  bottom: 15px;
  right: 5px;
}

.stock svg {
  margin-left: 25px;
  cursor: pointer;
}

.stock-details-container {
  min-height: calc(100vh - 65px);
  background-color: #ec448a;
}

.stock-details-container h3 {
  color: #fff;
}

.stock-details-container .back {
  display: flex;
}

.stock-details-container .details {
  margin: auto;
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: start;
  max-width: 1100px;
  row-gap: 50px;
}

.stock-details-container .details span {
  color: #fff;
}

/* stats */
.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background-color: rgba(236, 68, 138, 0.9);
  color: #fff;
}

.dropbtn {
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.dropbtn .btn-text {
  margin-right: 3px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  /* display: none; */
  position: absolute;
  min-width: 150px;
  z-index: 1;
  background-color: #fff;
  border-radius: 5px;
}

.dropdown-content button {
  background-color: transparent;
  color: black;
  padding: 12px 16px;
  display: block;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: start;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content button:hover {
  background-color: #f1f1f1;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Medium screen size */
@media (max-width: 768px) {
  .stock-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .stock-details-container .details {
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 10px 0 10px;
  }
}

/* Small screen size */
@media (max-width: 500px) {
  .stock-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
