@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

h1 {
  color: #fff;
  font-weight: 900;
}

nav {
  height: 65px;
  padding: 2% 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ec448a;
  color: #fff;
}

svg {
  color: #fff;
}

.left {
  display: flex;
  align-items: center;
}

.left svg {
  position: relative;
  top: 5px;
}

.nav-svgs svg {
  cursor: pointer;
  margin: 0 5px;
}

.nav-svgs {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .year {
  font-weight: 700;
  font-size: 22px;
}

.home-loading {
  text-align: center;
  height: calc(100vh - 65px);
  padding-top: 30vh;
  background-color: #ec448a;
}

.home-loading span {
  font-size: 32px;
  letter-spacing: 7px;
  color: #fff;
}

.stock-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow-x: hidden;
}

.stock-container div:nth-child(even) {
  background-color: rgba(236, 68, 138, 0.9);
}

.stock-container div:nth-child(odd) {
  background-color: rgba(236, 68, 138, 0.8);
}

.stock {
  padding: 10px 50px;
  color: #fff;
  position: relative;
  height: 120px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

.stock a {
  position: absolute;
  top: 5px;
  right: 5px;
  text-decoration: none;
  color: #fff;
}

.stock h3 {
  position: absolute;
  bottom: 40px;
  right: 5px;
}

.stock .change {
  position: absolute;
  bottom: 15px;
  right: 5px;
}

.stock svg {
  margin-left: 25px;
  cursor: pointer;
}

.stock-details-container {
  min-height: calc(100vh - 65px);
  background-color: #ec448a;
}

.stock-details-container h3 {
  color: #fff;
}

.stock-details-container .back {
  display: flex;
}

.stock-details-container .details {
  margin: auto;
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: start;
  max-width: 1100px;
  row-gap: 50px;
}

.stock-details-container .details span {
  color: #fff;
}

/* Medium screen size */
@media (max-width: 768px) {
  .stock-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .stock-details-container .details {
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 10px 0 10px;
  }
}

/* Small screen size */
@media (max-width: 500px) {
  .stock-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .stock {
    border: none;
  }
}

#footer {
  text-align: center;
  position: fixed;
  bottom: 30px;
  left: 0;
  right: 0;
}

#footer a {
  color: #fff;
  font-size: 22px;
}
